<aside class="sidebar">
  <div class="sidebar-section">
    <h4>카테고리</h4>
    <ul>
      {% for item in site.data.navigation.main %}
        {% if item.url != "/" and item.url != "/about/" %}
        <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="sidebar-section">
    <h4>태그</h4>
    <div class="tag-cloud">
      {% assign tags = site.tags | sort %}
      {% for tag in tags limit:20 %}
      <span class="tag">{{ tag[0] }} ({{ tag[1].size }})</span>
      {% endfor %}
    </div>
  </div>
</aside>
